@media (min-width: 1440px) and (max-width: 1919px)
  body
    font-size: 18px
  .container
    max-width: 1200px
  .navbar
    height: 110px
    &__menu
      max-width: 1200px
    &-bottom
      &__logo
        max-width: 700px
        margin-left: 0
      &__title
        margin-right: 0
      &__text
        font-size: 26px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 18px
@media (min-width: 1200px) and (max-width: 1439px)
  body
    font-size: 16px
    line-height: 30px
  .container
    max-width: 900px
  .navbar
    height: 100px
    &__menu
      max-width: 900px
    &-bottom
      &__logo
        max-width: 600px
        margin-left: 0
      &__title
        font-size: 24px
        margin-right: 0
      &__text
        font-size: 24px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 16px
@media (min-width: 1024px) and (max-width: 1199px)
  body
    font-size: 16px
  .container
    max-width: 900px
  .navbar
    height: 90px
    &__menu
      max-width: 900px
    &-bottom
      &__logo
        max-width: 500px
        margin-left: 0
      &__title
        font-size: 22px
        margin-right: 0
      &__text
        font-size: 22px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 16px
  .show
    margin-top: -7px
@media (min-width: 768px) and (max-width: 1023px)
  .container
    max-width: 700px
