@media (min-width: 1440px) and (max-width: 1919px)
  body
    font-size: 18px
  .container
    max-width: 1200px
  .navbar
    &-wrapper
      height: 110px
    &__menu
      max-width: 1200px
    &-logo
      width: 700px
      &__image
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
    &-bottom
      &__text
        font-size: 26px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 18px
  .playbill
    &-text
      margin: 0
  .swiper
    &-slide
      &__image
        max-width: 330px
        height: auto
    &-buttons
      width: 92%
  .overview
    &-card
      max-width: 220px
      width: 100%
      height: auto
  .line
    &-vertical
      height: 380px
      margin: 0
  .footer
    &-logo
      width: 460px
      &__image
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
    &__menu
      margin-left: -70px
  // .dropdown
  //   &-content
  //     &__link
  //       padding: 0 0 0 10px
  #second
    width: 105px
    margin-left: 110px
    margin-top: -145px
  .about
    &__title
      &--mobile
        &_hidden
          display: block
        &_visible
          display: none
  .repertoire
    &-card
      &__image
        width: 300px
        height: auto
@media (min-width: 1200px) and (max-width: 1439px)
  body
    font-size: 16px
    line-height: 30px
  .container
    max-width: 900px
  .navbar
    &-wrapper
      height: 100px
    &__menu
      max-width: 900px
    &-logo
      &__image
        width: 600px
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
    &-bottom
      &__title
        font-size: 24px
      &__text
        font-size: 24px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 16px
  .playbill
    &-wrapper
      padding: 40px 60px 20px
    &__title
      margin: 0 0 30px
    &-card
      &__image
        width: 200px
        height: 135px
      &__text
        width: 140px
        line-height: 27px
    &-text
      margin: 0
  .swiper
    &-slide
      &__image
        max-width: 270px
        height: auto
    &-buttons
      width: 92%
      top: 28%
    &-button__icon
      width: 20px
      height: 50px
  .overview
    &-wrapper
      padding: 20px 40px 40px
    &-card
      max-width: 180px
      width: 100%
      height: auto
  .line
    &-vertical
      height: 410px
      margin: 0
  .footer
    &-logo
      width: 440px
      &__image
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
    &__menu
      margin-left: -70px
  #second
    width: 95px
    margin-left: 95px
    margin-top: -120px
  .about
    &__title
      &--mobile
        &_hidden
          display: block
        &_visible
          display: none
  .repertoire
    &-card
      &__image
        width: 350px
        height: auto
@media (min-width: 1024px) and (max-width: 1199px)
  body
    font-size: 16px
  .container
    max-width: 900px
  .navbar
    &-wrapper
      height: 90px
    &__menu
      max-width: 900px
    &-logo
      &__image
        width: 500px
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
    &-bottom
      &__title
        font-size: 22px
      &__text
        font-size: 22px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 16px
  .show
    margin-top: -7px
  .playbill
    padding-bottom: 120px
    &-wrapper
      padding: 30px 50px 20px
    &__title
      margin: 0 0 30px
    &-card
      &__image
        width: 200px
        height: 135px
      &__text
        width: 140px
        line-height: 27px
    &-text
      margin: 0
  .swiper
    &-slide
      &__image
        max-width: 225px
        height: auto
    &-buttons
      width: 92%
      top: 28%
    &-button__icon
      width: 20px
      height: 50px
  .overview
    &-wrapper
      padding: 20px 40px 40px
    &-card
      max-width: 180px
      width: 100%
      height: auto
  .line
    &-vertical
      height: 410px
      margin: 0
  .footer
    &-logo
      width: 350px
      &__image
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
    &__menu
      margin-left: 0
    &-social
      width: 260px
  #second
    width: 95px
    margin-left: 100px
    margin-top: -145px
  .about
    &__title
      &--mobile
        &_hidden
          display: block
        &_visible
          display: none
  .repertoire
    &-card
      &__image
        width: 350px
        height: auto
@media (min-width: 768px) and (max-width: 1023px)
  .container
    max-width: 700px
  .navbar
    &-wrapper
      background-color: #000
      display: none
    &__menu
      display: flex
      flex-direction: column
      align-items: flex-end
      width: auto
      margin: 0
      margin-right: 35px
      &-item
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &-link
        font-size: 14px
        line-height: 22px
        &::after
          content: ''
          display: none
      &-button
        display: none
      &-burger
        display: none
        top: 16px
        left: 0
        right: 34px
        bottom: 0
        padding-top: 23px
        background-color: inherit
        &--mobile
          &_visible
            display: none
        &--visible
          display: block
          position: fixed
          display: flex
          align-items: flex-start
          justify-content: flex-end
          height: auto
          z-index: 150
    &-logo
      &__image
        width: 400px
        margin-top: 30px
        margin-bottom: 20px
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
    &-bottom
      &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        &-button
          display: block
          display: flex
          justify-content: space-between
          align-items: flex-end
      &__menu
        &-button
          display: block
          display: flex
          justify-content: space-between
          align-items: flex-end
      &__title
        justify-content: center
        font-size: 20px
      &__text
        font-size: 20px
        line-height: 40px
        text-align: center
        letter-spacing: 0.055em
        margin: auto
        margin-top: 40px
  .dropdown
    &--mobile
      &_hidden
        display: none
      &_visible
        display: flex
        font-size: 14px
    &__caret
      width: 10px
      height: 10px
    &-content
      min-width: 90px
      display: none
      flex-direction: column
      align-items: flex-start
      right: -23px
      top: 90px
      &--mobile
        &_hidden
          display: none
      &--visible
        display: flex
      &__link
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.055em
        padding: 0 10px
  .dropbtn
    line-height: 1.7
    &:focus
      &:hover
        &::after
          width: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 30px
      height: 30px
      background-color: inherit
      padding: 6px
      border: 2px solid #fff
      border-radius: 5px
      &__line
        width: 18px
        height: 2px
        line-height: 12px
        background-color: #fff
      &--mobile
        &_visible
          display: none
  .playbill
    padding-bottom: 120px
    &-wrapper
      padding: 30px 40px 20px
    &__title
      margin: 0 0 30px
    &-card
      &__image
        width: 175px
        height: 115px
      &__text
        display: none
    &-text
      margin: 0
      &__about
        &::after
          content: ''
          display: block
          width: 0%
        &:hover
          &::after
            width: 0%
  .line
    &-bottom
      margin: 40px 0 30px
  .button
    &:hover
      background-color: $color-button
  .swiper
    &-container
      padding: 40px 15px 23px
    &-slide
      &__image
        max-width: 352px
        height: auto
    &-buttons
      display: none
    &-pagination
      margin-top: 20px
  .overview
    padding-bottom: 150px
    &-wrapper
      padding: 20px 40px 40px
    &-card
      max-width: 280px
      width: 100%
      height: auto
      &--mobile
        &_hidden
          display: none
  .line
    &-vertical
      height: 280px
      margin: 0
      &--mobile
        &_hidden
          display: none
  .footer
    &-wrapper
      display: grid
      justify-items: center
      justify-content: center
      grid-template-columns: 1
      grid-template-rows: 4
    &-logo
      &__image
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
            grid-row: 1
    &__menu
      grid-row: 2
      text-decoration: underline
      margin: 20px 0 10px 0
      &-item
        &--mobile
          &_hidden
            display: none
      &-link
        &::after
          content: ''
        &:hover
          &::after
            width: 0%
    &-social
      grid-row: 2
      margin-bottom: 0
    &-contacts
      display: grid
      justify-items: center
      grid-template-rows: 2
      grid-row: 3
      &__tel
        grid-row: 1
      &__adress
        &--mobile
          &_hidden
            display: none
    &-copyrating
      margin-top: 60px
      &__link
        &:hover
          text-decoration: none
  .about
    padding-bottom: 50px
    &__title
      &--mobile
        &_hidden
          display: block
        &_visible
          display: none
  .wrapper
    padding: 30px 20px
  .repertoire
    &-wrapper
      padding: 30px
    &-card
      &__image
        width: 300px
        height: auto
    &-text
      &__about
        &::after
          content: ''
        &:hover
          &::after
            width: 0%
@media (min-width: 425px) and (max-width: 767px)
  .container
    max-width: 400px
  .navbar
    &-wrapper
      background-color: #000
      display: none
    &__menu
      display: flex
      flex-direction: column
      align-items: center
      width: auto
      margin: 0
      margin-right: 0
      &-item
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &-link
        font-size: 14px
        line-height: 22px
        &::after
          content: ''
          display: none
      &-button
        display: none
      &-burger
        display: none
        top: -75px
        left: 0
        right: 0
        bottom: 0
        padding: 100px
        background-color: #000
        &--mobile
          &_visible
            display: none
        &--visible
          display: block
          position: fixed
          display: flex
          flex-direction: column
          align-items: center
          justify-content: flex-start
          height: auto
          z-index: 150
    &-logo
      &__image
        width: 400px
        margin-top: 25px
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
    &-bottom
      margin-bottom: 30px
      &__wrapper
        display: flex
        flex-direction: column
        align-items: center
        &-button
          display: flex
          justify-content: space-between
          align-items: flex-end
      &__title
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
            justify-content: center
            font-weight: normal
            font-size: 20px
            line-height: 17px
            letter-spacing: 0.225em
            margin: 20px 0
      &__text
        font-weight: normal
        font-size: 18px
        line-height: 23px
        text-align: center
        letter-spacing: 0.055em
        margin: 20px 0 0
  .dropdown
    &--mobile
      &_hidden
        display: none
      &_visible
        display: flex
        font-size: 14px
    &__caret
      width: 10px
      height: 10px
    &-content
      min-width: 90px
      display: none
      flex-direction: column
      align-items: flex-end
      right: 70px
      top: 223px
      &--mobile
        &_hidden
          display: none
      &--visible
        display: flex
      &__link
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.055em
        padding: 0 10px
  .dropbtn
    line-height: 1.7
    &:focus
      &:hover
        &::after
          width: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 30px
      height: 30px
      background-color: inherit
      border: 2px solid #fff
      border-radius: 5px
      margin-bottom: 25px
      padding: 6px
      &__line
        width: 18px
        height: 2px
        line-height: 12px
        background-color: #fff
      &--mobile
        &_hidden
          display: none
  .playbill
    padding-bottom: 50px
    &-wrapper
      padding: 30px 20px 20px
    &-card
      display: grid
      justify-items: center
      justify-content: center
      grid-template-columns: auto
      grid-template-rows: auto
      &__image
        width: 200px
        height: 135px
        grid-row: 1
      &__text
        display: grid
        width: auto
        text-align: center
      &__director
        grid-row: 5
      &__title
        line-height: 40px
        grid-row: 4
      &__age
        line-height: 30px
        grid-row: 3
    &-text
      margin: 0
      &--mobile
        &_visible
          display: block
      &__about
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
    &-date
      grid-row: 5
  .title
    font-size: 42px
    text-align: center
    margin: 0 0 20px
  .line
    margin: 0
    margin-bottom: 10px
    &-bottom
      margin: 40px 0 30px
  .button
    &:hover
      background-color: $color-button
    &-pay
      margin: 20px 0
    &-forward
      margin-top: 20px
  .swiper
    &-container
      padding: 20px 0 10px
    &-slide
      &__image
        max-width: 400px
        height: auto
        margin-left: 10px
        margin-right: 15px
    &-buttons
      display: none
    &-pagination
      margin-top: 10px
      &-bullet
        width: 10px
        height: 10px
  .overview
    padding-bottom: 50px
    &-wrapper
      width: 425px
      text-align: center
      margin-left: -13px
      padding: 20px 20px 25px
    &-card
      max-width: 380px
      width: 100%
      height: auto
      text-align: left
      &--mobile
        &_hidden
          display: none
        &_visible
          display: none
      &__text
        margin-bottom: 20px
  .line
    &-vertical
      height: 280px
      margin: 0
      &--mobile
        &_hidden
          display: none
        &_visible
          display: none
  .button
    &-wrapper
      justify-content: flex-end
    &-read
      padding: 5px 20px
  .footer
    &-wrapper
      display: grid
      justify-items: center
      justify-content: center
      grid-template-columns: 1
      grid-template-rows: 4
    &-logo
      &__image
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
            grid-row: 1
    &__menu
      grid-row: 2
      text-decoration: underline
      margin: 20px 0 10px 0
      &-item
        &--mobile
          &_hidden
            display: none
      &-link
        &::after
          content: ''
        &:hover
          &::after
            width: 0%
    &-social
      grid-row: 2
      margin-bottom: 0
    &-contacts
      display: grid
      justify-items: center
      grid-template-rows: 2
      grid-row: 3
      &__tel
        grid-row: 1
      &__adress
        &--mobile
          &_hidden
            display: none
    &-copyrating
      margin-top: 60px
      &__link
        &:hover
          text-decoration: none
  .about
    padding-bottom: 50px
    &__title
      &--mobile
        &_hidden
          display: none
        &_visible
          display: block
          margin-bottom: 40px
  .wrapper
    padding: 30px 20px
  .repertoire
    padding: 0
    &__title
      margin-bottom: 50px
    &-wrapper
      justify-content: center
      background-color: #000
      border: none
      padding: 0
    &-card
      &__image
        width: 330px
        height: auto
    &-text
      margin-bottom: 20px
      &__about
        &::after
          content: ''
        &:hover
          &::after
            width: 0%
    .line
      &--mobile
        &_visible
          display: block
          width: 240px
          margin-bottom: 40px
@media (min-width: 375px) and (max-width: 424px)
  .container
    max-width: 345px
  .navbar
    &-wrapper
      background-color: #000
      display: none
    &__menu
      display: flex
      flex-direction: column
      align-items: center
      width: auto
      margin: 0
      margin-right: 0
      &-item
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &-link
        font-size: 14px
        line-height: 22px
        &::after
          content: ''
          display: none
      &-button
        display: none
      &-burger
        display: none
        top: -75px
        left: 0
        right: 0
        bottom: 0
        padding: 100px
        background-color: #000
        &--mobile
          &_visible
            display: none
        &--visible
          display: block
          position: fixed
          display: flex
          flex-direction: column
          align-items: center
          justify-content: flex-start
          height: auto
          z-index: 150
    &-logo
      &__image
        width: 345px
        margin-top: 25px
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
    &-bottom
      margin-bottom: 30px
      &__wrapper
        display: flex
        flex-direction: column
        align-items: center
        &-button
          display: flex
          justify-content: space-between
          align-items: flex-end
      &__title
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
            justify-content: center
            font-weight: normal
            font-size: 16px
            line-height: 17px
            letter-spacing: 0.225em
            margin: 20px 0
      &__text
        font-weight: normal
        font-size: 18px
        line-height: 23px
        text-align: center
        letter-spacing: 0.055em
        margin: 20px 0 0
  .dropdown
    &--mobile
      &_hidden
        display: none
      &_visible
        display: flex
        font-size: 14px
    &__caret
      width: 10px
      height: 10px
    &-content
      min-width: 90px
      display: none
      flex-direction: column
      align-items: flex-end
      right: 50px
      top: 223px
      &--mobile
        &_hidden
          display: none
      &--visible
        display: flex
      &__link
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.055em
        padding: 0 10px
  .dropbtn
    line-height: 1.7
    &:focus
      &:hover
        &::after
          width: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 30px
      height: 30px
      background-color: inherit
      border: 2px solid #fff
      border-radius: 5px
      margin-bottom: 25px
      padding: 6px
      &__line
        width: 18px
        height: 2px
        line-height: 12px
        background-color: #fff
      &--mobile
        &_hidden
          display: none
  .playbill
    padding-bottom: 50px
    &-wrapper
      padding: 30px 20px 20px
    &-card
      display: grid
      justify-items: center
      justify-content: center
      grid-template-columns: auto
      grid-template-rows: auto
      &__image
        width: 200px
        height: 135px
        grid-row: 1
      &__text
        display: grid
        width: auto
        text-align: center
      &__director
        font-size: 16px
        grid-row: 5
      &__title
        font-size: 16px
        line-height: 40px
        grid-row: 4
      &__age
        line-height: 30px
        grid-row: 3
    &-text
      margin: 0
      &--mobile
        &_visible
          display: block
      &__about
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
    &-date
      grid-row: 5
  .title
    font-size: 42px
    text-align: center
    margin: 0 0 20px
  .line
    margin: 0
    margin-bottom: 10px
    &-bottom
      margin: 40px 0 30px
  .button
    &:hover
      background-color: $color-button
    &-pay
      margin: 20px 0
    &-forward
      margin-top: 20px
  .swiper
    &-container
      padding: 20px 0 10px
    &-slide
      &__image
        max-width: 350px
        height: auto
        margin-left: 10px
        margin-right: 15px
    &-buttons
      display: none
    &-pagination
      margin-top: 10px
      &-bullet
        width: 10px
        height: 10px
  .overview
    padding-bottom: 50px
    &-wrapper
      width: 375px
      text-align: center
      margin-left: -15px
      padding: 20px 20px 25px
    &-card
      max-width: 380px
      width: 100%
      height: auto
      text-align: left
      &--mobile
        &_hidden
          display: none
        &_visible
          display: none
      &__text
        margin-bottom: 20px
  .line
    &-vertical
      height: 280px
      margin: 0
      &--mobile
        &_hidden
          display: none
        &_visible
          display: none
  .button
    &-wrapper
      justify-content: flex-end
    &-read
      padding: 5px 20px
  .footer
    padding: 25px 15px
    &-wrapper
      display: grid
      justify-items: center
      justify-content: center
      grid-template-columns: 1
      grid-template-rows: 4
    &-logo
      &__image
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
            grid-row: 1
    &__menu
      grid-row: 2
      margin: 20px 0 10px 0
      &-item
        text-decoration: underline
        &--mobile
          &_hidden
            display: none
      &-link
        &::after
          content: ''
        &:hover
          &::after
            width: 0%
    &-social
      grid-row: 2
      margin-bottom: 0
    &-contacts
      display: grid
      justify-items: center
      grid-template-rows: 2
      grid-row: 3
      &__tel
        grid-row: 1
      &__adress
        &--mobile
          &_hidden
            display: none
    &-copyrating
      margin-top: 60px
      &__link
        &:hover
          text-decoration: none
  .about
    padding-bottom: 50px
    &__title
      &--mobile
        &_hidden
          display: none
        &_visible
          display: block
          margin-bottom: 40px
  .wrapper
    padding: 30px 20px
  .repertoire
    padding: 0
    &__title
      margin-bottom: 50px
    &-wrapper
      justify-content: center
      background-color: #000
      border: none
      padding: 0
    &-card
      &__image
        width: 285px
        height: auto
    &-text
      margin-bottom: 20px
      &__about
        &::after
          content: ''
        &:hover
          &::after
            width: 0%
    .line
      &--mobile
        &_visible
          display: block
          width: 240px
          margin-bottom: 40px
@media (min-width: 320px) and (max-width: 374px)
  .container
    max-width: 290px
  .navbar
    &-wrapper
      background-color: #000
      display: none
    &__menu
      display: flex
      flex-direction: column
      align-items: center
      width: auto
      margin: 0
      margin-right: 0
      &-item
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &-link
        font-size: 14px
        line-height: 22px
        &::after
          content: ''
          display: none
      &-button
        display: none
      &-burger
        display: none
        top: -75px
        left: 0
        right: 0
        bottom: 0
        padding: 100px 30px 0 30px
        background-color: #000
        &--mobile
          &_visible
            display: none
        &--visible
          display: block
          position: fixed
          display: flex
          flex-direction: column
          align-items: center
          justify-content: flex-start
          height: auto
          z-index: 150
    &-logo
      &__image
        width: 290px
        margin-top: 25px
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
    &-bottom
      margin-bottom: 30px
      &__wrapper
        display: flex
        flex-direction: column
        align-items: center
        &-button
          display: flex
          justify-content: space-between
          align-items: flex-end
      &__title
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
            justify-content: center
            font-weight: normal
            font-size: 15px
            line-height: 17px
            letter-spacing: 0.225em
            margin: 20px 0
      &__text
        width: 280px
        font-weight: normal
        font-size: 18px
        line-height: 23px
        text-align: center
        letter-spacing: 0.055em
        margin-top: 20px
  .dropdown
    &--mobile
      &_hidden
        display: none
      &_visible
        display: flex
        font-size: 14px
    &__caret
      width: 10px
      height: 10px
    &-content
      min-width: 90px
      display: none
      flex-direction: column
      align-items: flex-end
      right: 25px
      top: 223px
      &--mobile
        &_hidden
          display: none
      &--visible
        display: flex
      &__link
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.055em
        padding: 0 10px
  .dropbtn
    line-height: 1.7
    &:focus
      &:hover
        &::after
          width: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 30px
      height: 30px
      background-color: inherit
      border: 2px solid #fff
      border-radius: 5px
      margin-bottom: 25px
      padding: 6px
      &__line
        width: 18px
        height: 2px
        line-height: 12px
        background-color: #fff
      &--mobile
        &_hidden
          display: none
  .playbill
    padding-bottom: 50px
    &-wrapper
      padding: 30px 15px 15px
    &-card
      display: grid
      justify-items: center
      justify-content: center
      grid-template-columns: auto
      grid-template-rows: auto
      &__image
        width: 160px
        height: 115px
        grid-row: 1
      &__text
        display: grid
        width: auto
        font-size: 14px
        text-align: center
      &__director
        grid-row: 5
      &__title
        line-height: 32px
        grid-row: 4
      &__age
        line-height: 30px
        grid-row: 3
    &-text
      margin: 0
      &--mobile
        &_visible
          display: block
      &__about
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
    &-date
      grid-row: 5
  .title
    font-size: 42px
    text-align: center
    margin: 0 0 20px
  .line
    margin: 0
    margin-bottom: 10px
    &-bottom
      margin: 40px 0 30px
  .button
    &:hover
      background-color: $color-button
    &-pay
      margin: 20px 0
    &-forward
      margin-top: 20px
  .swiper
    &-container
      padding: 20px 0 10px
    &-slide
      &__image
        max-width: 295px
        height: auto
        margin-left: 10px
        margin-right: 15px
    &-buttons
      display: none
    &-pagination
      margin-top: 10px
      &-bullet
        width: 10px
        height: 10px
  .overview
    padding-bottom: 50px
    &-wrapper
      width: 320px
      text-align: center
      margin-left: -15px
      padding: 20px 20px 25px
    &-card
      max-width: 380px
      width: 100%
      height: auto
      text-align: left
      &--mobile
        &_hidden
          display: none
        &_visible
          display: none
      &__text
        margin-bottom: 20px
  .line
    &-vertical
      height: 280px
      margin: 0
      &--mobile
        &_hidden
          display: none
        &_visible
          display: none
  .button
    &-wrapper
      justify-content: flex-end
    &-read
      padding: 5px 20px
  .footer
    padding: 25px 15px
    &-wrapper
      display: grid
      justify-items: center
      justify-content: center
      grid-template-columns: 1
      grid-template-rows: 4
    &-logo
      &__image
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
            grid-row: 1
    &__menu
      grid-row: 2
      margin: 20px 0 10px 0
      &-item
        &--mobile
          &_hidden
            display: none
      &-link
        text-decoration: underline
        &::after
          content: ''
        &:hover
          &::after
            width: 0%
    &-social
      width: 245px
      grid-row: 2
      margin-bottom: 0
      &__icon
        width: 42px
        height: 38px
    &-contacts
      display: grid
      justify-items: center
      grid-template-rows: 2
      grid-row: 3
      &__tel
        grid-row: 1
      &__adress
        &--mobile
          &_hidden
            display: none
    &-copyrating
      margin-top: 60px
      &__link
        &:hover
          text-decoration: none
  .about
    padding-bottom: 35px
    &__title
      margin-bottom: 15px
      &--mobile
        &_hidden
          display: none
        &_visible
          display: block
          margin-bottom: 40px
  .wrapper
    padding: 15px
  .repertoire
    padding: 0
    &__title
      margin-bottom: 50px
    &-wrapper
      justify-content: center
      background-color: #000
      border: none
      padding: 0
    &-card
      &__image
        width: 270px
        height: auto
    &-text
      margin-bottom: 20px
      &__about
        &::after
          content: ''
        &:hover
          &::after
            width: 0%
    .line
      &--mobile
        &_visible
          display: block
          width: 240px
          margin-bottom: 40px
