@media (min-width: 1440px) and (max-width: 1919px)
  body
    font-size: 18px
  .container
    max-width: 1200px
  .navbar
    &-wrapper
      height: 110px
    &__menu
      max-width: 1200px
    &-bottom
      &__logo
        width: 700px
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
      &__text
        font-size: 26px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 18px
  .preview
    &-performance
      margin: 0
@media (min-width: 1200px) and (max-width: 1439px)
  body
    font-size: 16px
    line-height: 30px
  .container
    max-width: 900px
  .navbar
    &-wrapper
      height: 100px
    &__menu
      max-width: 900px
    &-bottom
      &__logo
        width: 600px
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
      &__title
        font-size: 24px
      &__text
        font-size: 24px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 16px
  .preview
    &-wrapper
      padding: 40px 60px 20px
    &__title
      margin: 0 0 30px
    &-card
      &__image
        width: 200px
        height: 135px
      &__text
        width: 140px
        line-height: 27px
    &-performance
      margin: 0
@media (min-width: 1024px) and (max-width: 1199px)
  body
    font-size: 16px
  .container
    max-width: 900px
  .navbar
    &-wrapper
      height: 90px
    &__menu
      max-width: 900px
    &-bottom
      &__logo
        width: 500px
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
      &__title
        font-size: 22px
      &__text
        font-size: 22px
  .dropdown
    &--mobile
      &_visible
        display: none
    &-content
      &__link
        font-size: 16px
  .show
    margin-top: -7px
  .preview
    padding-bottom: 120px
    &-wrapper
      padding: 30px 50px 20px
    &__title
      margin: 0 0 30px
    &-card
      &__image
        width: 200px
        height: 135px
      &__text
        width: 140px
        line-height: 27px
    &-performance
      margin: 0
@media (min-width: 768px) and (max-width: 1023px)
  .container
    max-width: 700px
  .navbar
    &-wrapper
      background-color: #000
      display: none
      &__menu
        &-button
          display: block
          display: flex
          justify-content: space-between
          align-items: flex-end
    &__menu
      display: flex
      flex-direction: column
      align-items: flex-end
      width: auto
      margin: 0
      margin-right: 35px
      &-item
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &-link
        font-size: 14px
        line-height: 22px
        &::after
          content: ''
          display: none
      &-button
        display: none
      &-burger
        display: none
        top: 14px
        left: 0
        right: 34px
        bottom: 0
        padding-top: 23px
        background-color: inherit
        &--mobile
          &_visible
            display: none
        &--visible
          display: block
          position: fixed
          display: flex
          align-items: flex-start
          justify-content: flex-end
          height: auto
          z-index: 150
    &-bottom
      &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
      &__logo
        width: 400px
        margin-top: 30px
        margin-bottom: 20px
        &--mobile
          &_hidden
            display: block
          &_visible
            display: none
      &__menu
        &-button
          display: block
          display: flex
          justify-content: space-between
          align-items: flex-end
      &__title
        justify-content: center
        font-size: 20px
      &__text
        font-size: 20px
        line-height: 40px
        text-align: center
        letter-spacing: 0.055em
        margin: auto
        margin-top: 40px
  .dropdown
    &--mobile
      &_hidden
        display: none
      &_visible
        display: flex
        font-size: 14px
    &__caret
      width: 10px
      height: 10px
    &-content
      min-width: 90px
      display: none
      flex-direction: column
      align-items: flex-start
      right: -23px
      top: 90px
      &--mobile
        &_hidden
          display: none
      &--visible
        display: flex
      &__link
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.055em
        padding: 0 10px
  .dropbtn
    line-height: 1.7
    &:focus
      &:hover
        &::after
          width: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 30px
      height: 30px
      background-color: inherit
      padding: 6px
      border: 2px solid #fff
      border-radius: 5px
      &__line
        width: 18px
        height: 2px
        line-height: 12px
        background-color: #fff
      &--mobile
        &_visible
          display: none
  .preview
    padding-bottom: 120px
    &-wrapper
      padding: 30px 40px 20px
    &__title
      margin: 0 0 30px
    &-card
      &__image
        width: 175px
        height: 115px
      &__text
        display: none
    &-performance
      margin: 0
    .line
      &-bottom
        margin: 40px 0 30px
@media (min-width: 425px) and (max-width: 767px)
  .container
    max-width: 400px
  .navbar
    &-wrapper
      background-color: #000
      display: none
      &__menu
        &-button
          display: flex
          justify-content: space-between
          align-items: flex-end
    &__menu
      display: flex
      flex-direction: column
      align-items: center
      width: auto
      margin: 0
      margin-right: 0
      &-item
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &-link
        font-size: 14px
        line-height: 22px
        &::after
          content: ''
          display: none
      &-button
        display: none
      &-burger
        display: none
        top: -75px
        left: 0
        right: 0
        bottom: 0
        padding: 100px
        background-color: #000
        &--mobile
          &_visible
            display: none
        &--visible
          display: block
          position: fixed
          display: flex
          flex-direction: column
          align-items: center
          justify-content: flex-start
          height: auto
          z-index: 150
    &-bottom
      &__wrapper
        display: flex
        flex-direction: column
        align-items: center
      &__logo
        width: 400px
        margin-top: 25px
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
      &__title
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
            justify-content: center
            font-weight: normal
            font-size: 20px
            line-height: 17px
            letter-spacing: 0.225em
            margin: 20px 0
      &__text
        font-weight: normal
        font-size: 18px
        line-height: 23px
        text-align: center
        letter-spacing: 0.055em
        margin: 20px 0 0
  .dropdown
    &--mobile
      &_hidden
        display: none
      &_visible
        display: flex
        font-size: 14px
    &__caret
      width: 10px
      height: 10px
    &-content
      min-width: 90px
      display: none
      flex-direction: column
      align-items: flex-end
      right: 70px
      top: 223px
      &--mobile
        &_hidden
          display: none
      &--visible
        display: flex
      &__link
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.055em
        padding: 0 10px
  .dropbtn
    line-height: 1.7
    &:focus
      &:hover
        &::after
          width: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 30px
      height: 30px
      background-color: inherit
      border: 2px solid #fff
      border-radius: 5px
      margin-bottom: 25px
      padding: 6px
      &__line
        width: 18px
        height: 2px
        line-height: 12px
        background-color: #fff
      &--mobile
        &_hidden
          display: none
  .preview
    padding-bottom: 50px
    &-wrapper
      padding: 30px 20px 20px
    &__title
      font-size: 42px
      text-align: center
      margin: 0 0 20px
    &-card
      display: grid
      justify-items: center
      justify-content: center
      grid-template-columns: auto
      grid-template-rows: auto
      &__image
        width: 200px
        height: 135px
        grid-row: 1
      &__text
        display: grid
        width: auto
        text-align: center
      &__director
        grid-row: 5
      &__title
        line-height: 40px
        grid-row: 4
      &__age
        line-height: 30px
        grid-row: 3
    &-performance
      margin: 0
      &__title
        grid-row: 2
      &__about
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
    &-date
      grid-row: 6
  .line
    margin: 0
    margin-bottom: 10px
    &-bottom
      margin: 40px 0 30px
@media (min-width: 375px) and (max-width: 424px)
  .container
    max-width: 345px
  .navbar
    &-wrapper
      background-color: #000
      display: none
      &__menu
        &-button
          display: flex
          justify-content: space-between
          align-items: flex-end
    &__menu
      display: flex
      flex-direction: column
      align-items: center
      width: auto
      margin: 0
      margin-right: 0
      &-item
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &-link
        font-size: 14px
        line-height: 22px
        &::after
          content: ''
          display: none
      &-button
        display: none
      &-burger
        display: none
        top: -75px
        left: 0
        right: 0
        bottom: 0
        padding: 100px
        background-color: #000
        &--mobile
          &_visible
            display: none
        &--visible
          display: block
          position: fixed
          display: flex
          flex-direction: column
          align-items: center
          justify-content: flex-start
          height: auto
          z-index: 150
    &-bottom
      &__wrapper
        display: flex
        flex-direction: column
        align-items: center
      &__logo
        width: 345px
        margin-top: 25px
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
      &__title
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
            justify-content: center
            font-weight: normal
            font-size: 16px
            line-height: 17px
            letter-spacing: 0.225em
            margin: 20px 0
      &__text
        font-weight: normal
        font-size: 18px
        line-height: 23px
        text-align: center
        letter-spacing: 0.055em
        margin: 20px 0 0
  .dropdown
    &--mobile
      &_hidden
        display: none
      &_visible
        display: flex
        font-size: 14px
    &__caret
      width: 10px
      height: 10px
    &-content
      min-width: 90px
      display: none
      flex-direction: column
      align-items: flex-end
      right: 50px
      top: 223px
      &--mobile
        &_hidden
          display: none
      &--visible
        display: flex
      &__link
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.055em
        padding: 0 10px
  .dropbtn
    line-height: 1.7
    &:focus
      &:hover
        &::after
          width: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 30px
      height: 30px
      background-color: inherit
      border: 2px solid #fff
      border-radius: 5px
      margin-bottom: 25px
      padding: 6px
      &__line
        width: 18px
        height: 2px
        line-height: 12px
        background-color: #fff
      &--mobile
        &_hidden
          display: none
@media (min-width: 320px) and (max-width: 374px)
  .container
    max-width: 290px
  .navbar
    &-wrapper
      background-color: #000
      display: none
      &__menu
        &-button
          display: flex
          justify-content: space-between
          align-items: flex-end
    &__menu
      display: flex
      flex-direction: column
      align-items: center
      width: auto
      margin: 0
      margin-right: 0
      &-item
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
      &-link
        font-size: 14px
        line-height: 22px
        &::after
          content: ''
          display: none
      &-button
        display: none
      &-burger
        display: none
        top: -75px
        left: 0
        right: 0
        bottom: 0
        padding: 100px 30px 0 30px
        background-color: #000
        &--mobile
          &_visible
            display: none
        &--visible
          display: block
          position: fixed
          display: flex
          flex-direction: column
          align-items: center
          justify-content: flex-start
          height: auto
          z-index: 150
    &-bottom
      &__wrapper
        display: flex
        flex-direction: column
        align-items: center
      &__logo
        width: 290px
        margin-top: 25px
        &--mobile
          &_hidden
            display: none
          &_visible
            display: block
      &__title
        &--mobile
          &_hidden
            display: none
          &_visible
            display: flex
            justify-content: center
            font-weight: normal
            font-size: 15px
            line-height: 17px
            letter-spacing: 0.225em
            margin: 20px 0
      &__text
        width: 280px
        font-weight: normal
        font-size: 18px
        line-height: 23px
        text-align: center
        letter-spacing: 0.055em
        margin-top: 20px
  .dropdown
    &--mobile
      &_hidden
        display: none
      &_visible
        display: flex
        font-size: 14px
    &__caret
      width: 10px
      height: 10px
    &-content
      min-width: 90px
      display: none
      flex-direction: column
      align-items: flex-end
      right: 25px
      top: 223px
      &--mobile
        &_hidden
          display: none
      &--visible
        display: flex
      &__link
        font-size: 14px
        line-height: 22px
        letter-spacing: 0.055em
        padding: 0 10px
  .dropbtn
    line-height: 1.7
    &:focus
      &:hover
        &::after
          width: 0
  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 30px
      height: 30px
      background-color: inherit
      border: 2px solid #fff
      border-radius: 5px
      margin-bottom: 25px
      padding: 6px
      &__line
        width: 18px
        height: 2px
        line-height: 12px
        background-color: #fff
      &--mobile
        &_hidden
          display: none
