*
  box-sizing: border-box
body
  background-color: #000
  font-family: 'Caudex', sans-serif
  font-style: normal
  font-weight: 400
  font-size: 20px
  line-height: 36px
  letter-spacing: 0.065em
  color: #fff
.container
  max-width: 1670px
  margin: auto
