.footer
  background-color: $color-card
  padding: 35px 60px
  &-wrapper
    display: flex
    justify-content: space-between
  &-logo
    display: flex
    align-items: center
    &__image
      max-width: 600px
      width: 100%
      &--mobile
        &_hidden
          display: block
        &_visible
          display: none
  &__menu
    display: flex
    flex-direction: column
    max-width: 190px
    margin: 0
    margin-left: -215px
    padding: 0
    &-item
      cursor: pointer
      &--mobile
        &_visible
          display: none
    &-link
      color: #fff
      &::after
        content: ''
        display: block
        height: 1px
        background-color: #fff
        transition: 0.2s
        width: 0%
      &:hover
        &::after
          width: 30%
    // &-button
    //   display: none
  &-social
    display: flex
    justify-content: space-between
    width: 280px
    margin-bottom: 10px
    &__icon
      width: 48px
      height: 43px
    &__link
      // &:hover
      //   stroke: $color-card
    // &__filling
    //   stroke: #fff
      // &:hover
      //   width: 48px
      //   height: 43px
      //   stroke: red
      //   fill: #fff
    // &__stroke
    //   stroke: #fff
      // &:hover
      //   width: 48px
      //   height: 43px
      //   stroke: red
        // fill: $color-card
  &-contacts
    display: flex
    flex-direction: column
    line-height: 39px
    &__tel
      margin-bottom: 30px
  &-copyrating
    text-align: center
    margin-top: 100px
    &__link
      &:hover
        text-decoration: underline
#second
  margin-left: 100px
  margin-top: -36px
