.people
  padding-bottom: 150px
  &-wrapper
    background-color: $color-card-2
    border: 1px solid $color-border
  &-row
    display: flex
    flex-direction: column
  &-card
    display: flex
    flex-wrap: wrap
    padding: 80px 0
  &-text
    padding: 0 80px 0 45px
    &__title
      font-size: 26px
      margin-bottom: 20px
    &__name
      font-size: 20px
      margin-bottom: 10px
    &__description
      line-height: 26px
      // max-width: 900px
  &-image
    float: left
    position: relative
    left: -46px
    padding: 0 0 15px 15px
    &__photo
      width: 257px
      height: 307px
      position: relative
      border: 1px solid $color-border
      object-fit: cover
    &__background
      width: 257px
      height: 307px
      background-color: $color-background
      border: 1px solid $color-border
      position: absolute
      &--left
        left: -20px
        top: -40px
