.performance
  padding-bottom: 150px
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding-bottom: 150px
    &__image
      width: 430px
      height: 490px
      object-fit: cover
      border: 2px solid $color-border
      &--mobile
        &_visible
          display: none
  &-description
    max-width: 840px
    width: 100%
    background-color: $color-card
    border: 1px solid $color-border
    padding: 30px 40px
    &__image
      &--mobile
        &_visible
          display: none
  &-gallery
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: 0 -62px
    &__image
      // flex: 33%
      max-width: calc(33.3% - 124px)
      height: 292px
      border: 1px solid #F1F1F1
      margin: 0 62px
      margin-bottom: 100px
    &__img
      width: 381px
      height: 290px
      // width: 380px
      // margin-right: 86px
      // &:nth-child(3n-3)
      //   margin-right: -86px
      // margin-left: 40px
      // &:nth-child(1n)
      //   margin-left: 0

    // display: grid
    // grid-template-columns: 1fr 1fr 1fr
    // grid-template-rows: auto
    // justify-content: space-between
