.performance
  padding-bottom: 150px
  &__title
    margin-bottom: 100px
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding-bottom: 150px
    &__image
      width: 430px
      height: 490px
      object-fit: cover
      border: 2px solid $color-border
    &__text
      width: 840px
      background-color: $color-card
      border: 1px solid $color-border
      padding: 30px 40px
  &-gallery
    display: grid
    grid-template-columns: 380px 380px 380px
    grid-template-rows: auto
    justify-content: space-between
    // display: flex
    // justify-content: center
    // flex-wrap: wrap
    &__image
      width: 380px
      height: auto
      border: 1px solid $color-border
      margin-bottom: 100px
      // margin-right: 40px
      // margin-left: 40px
      // &:nth-child(1n)
      //   margin-left: 40px
      // &:nth-child(3n)
      //   margin-right: 40px
