.preview
  padding-bottom: 150px
  &-wrapper
    background: $color-card
    border: 2px solid $color-border
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35)
    padding: 50px 80px 20px
  &__title
    font-weight: normal
    font-size: 30px
    letter-spacing: 0.065em
    margin: 0 0 50px
  &-card
    display: flex
    justify-content: space-between
    align-items: center
    &__title
      font-weight: normal
      font-size: 20px
      line-height: 52px
      letter-spacing: 0.065em
      text-decoration-line: underline
    &__image
      width: 250px
      height: 185px
    &__text
      width: 220px
      font-weight: normal
      font-size: 18px
      line-height: 32px
      letter-spacing: 0.065em
    &__age
      font-weight: normal
      font-size: 30px
      line-height: 53px
      letter-spacing: 0.065em
  &-date
    font-weight: normal
    font-size: 18px
    line-height: 32px
    letter-spacing: 0.065em
