.troupe
  padding-bottom: 150px
  &-wrapper
    background-color: $color-card-2
    border: 1px solid $color-border
  &-row
    display: flex
    flex-direction: column
  &-card
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding: 80px 0
  &-text
    padding: 0 100px
    &__name
      margin-bottom: 20px
    &__description
      line-height: 26px
      max-width: 900px
  &-image
    position: relative
    padding: 0 15px
    &__photo
      width: 264px
      position: relative
    &__background
      width: 264px
      height: 307px
      background-color: $color-background
      border: 1px solid $color-border
      position: absolute
      &--right
        right: -20px
        bottom: 45px
      &--left
        left: -20px
        bottom: 45px
